<nav class="navbar navbar-expand-lg">
<a class="navbar-brand" href="#" (click)="forzarRecargaChat(); $event.preventDefault()">Chatterix</a>


  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Menú antes del login -->
      <ng-container *ngIf="!enChat">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register-user" routerLinkActive="active">
            Registro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            Login
          </a>
        </li>
      </ng-container>

      <!-- Menú cuando ya está en el chat -->
      <ng-container *ngIf="enChat && usuario">
        <li class="nav-item">
          <a class="nav-link text-danger" (click)="logout()" style="cursor: pointer;">
            Cerrar sesión
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
